<div class="container forall" >
  <div class="row">
    <div class="col">
      <%= @song.context %>
      <%= link_to "Song", @song.song_file, :class => "html5" %>

      <div class="row" ><p id="demo"></p></div>
      <section id="audio" >

      </section>
    </div>
  </div>
</div>
<script>
    function play() {

      var audioSection = $('section#audio');

          var audio = $('<audio>', {
              controls: 'controls',
              autoplay: 'autoplay'
          });
          var song_path = "<%= @song.song_file%>";
          document.getElementById("demo").innerHTML = song_path;
          var url = "/assets/Lil.mp3";
          $('<source>').attr('src', url).appendTo(audio);
          audioSection.html(audio);
          return false;

    }
    $(document).ready(function () {
        var audioSection = $('section#audio');
        $('a.html5').click(function () {
            var audio = $('<audio>', {
                controls: 'controls',
                autoplay: 'autoplay'
            });
            var url = $(this).attr('href');
            document.getElementById("")
            $('<source>').attr('src', url).appendTo(audio);
            audioSection.html(audio);
            return false;
        });
    });
</script>
