<nav class="navbar navbar-expand navbar-dark " style="background-color: #00e699; position: fixed; min-width: 1000px; width: 100%; z-index:999;">
    <a class="navbar-brand" href="/">Vibin Music</a>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav pt-1">
            <li class="nav-item">
                <a class="nav-link" href="/explore">Explore</a>
            </li>
            <li><a class="nav-link" href="/signup"> Sign up </a></li>
            <li><a class="nav-link" href="/login">Log in</a></li>
<!--hi check the chat-->



        </ul>
    </div>
</nav>
